[bed_mesh]
#If stepper_x [position_max] and/or stepper_y [position_max] change then values below will need to be recalculated.
#https://www.th3dstudio.com/klipper-abl-mesh-safe-homing-calculator/?srsltid=AfmBOorimPQRo4V_6BsYfkFQRwvip-eZ7aVUQeECqGSJstkV1Ict5J-d
mesh_min: 36.5, 15
mesh_max: 285, 200
#Change these parameters according to the maximum and minimum values of your printer.
#You may also need to change the stepper_x, stepper_y max and min values on your printer along with the changed values.
#For more information you can visit "https://coprint3d.com/pages/help-center".
speed: 120
horizontal_move_z: 5
probe_count: 10, 10
mesh_pps: 0, 0
algorithm: bicubic
bicubic_tension: 0.0
#zero_reference_position: 81.50, 105.70
#move_check_distance: 5
#split_delta_z: .025
