[bed_mesh]
#mesh_min: 43, 10
#mesh_max: 222, 200
mesh_min: 10, 30
mesh_max: 289, 200

#Change these parameters according to the maximum and minimum values of your printer.
#You may also need to change the stepper_x, stepper_y max and min values on your printer along with the changed values.
#For more information you can visit "https://coprint3d.com/pages/help-center".
algorithm: bicubic
speed: 60

probe_count: 10,10
horizontal_move_z: 5
#split_delta_z: 0.025
fade_start: 0
fade_end: 0
fade_target: 0
#move_check_distance: 5


		