[bed_mesh]
#If stepper_x [position_max] and/or stepper_y [position_max] change then values below will need to be recalculated.
#https://www.th3dstudio.com/klipper-abl-mesh-safe-homing-calculator/?srsltid=AfmBOorimPQRo4V_6BsYfkFQRwvip-eZ7aVUQeECqGSJstkV1Ict5J-d
mesh_min: 63.5, 15
mesh_max: 274, 200
#Change these parameters according to the maximum and minimum values of your printer.
#You may also need to change the stepper_x, stepper_y max and min values on your printer along with the changed values.
#For more information you can visit "https://coprint3d.com/pages/help-center".
algorithm: bicubic
speed: 150
horizontal_move_z: 5
probe_count: 7, 7
mesh_pps: 10, 10
bicubic_tension: 0.2
#fade_start: 1
#fade_end: 3

### The following two settings are only if you wish to use 'Move Splitting'
#split_delta_z: 0.025
#move_check_distance: 5
