[gcode_macro SCUT_SAVE_CONFIG]
gcode:
  SAVE_CONFIG

[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}

[gcode_macro SET_LCD_IDLE_TEXT]
description: Standby/Ready + Heating status when not printing
gcode:
  {% set ps = printer.print_stats.state|lower %}

  # Only manage the LCD when not actively printing
  {% if ps != "printing" %}

    # Read temps (works with typical [extruder] and [heater_bed] sections)
    {% set e_t = printer.extruder.temperature|float %}
    {% set e_s = printer.extruder.target|float %}
    {% set b_t = printer.heater_bed.temperature|float %}
    {% set b_s = printer.heater_bed.target|float %}

    # Consider "heating" when a target is set and we're more than tol below it
    {% set tol = 2.0 %}
    {% set e_heat = (e_s > 0) and (e_t < (e_s - tol)) %}
    {% set b_heat = (b_s > 0) and (b_t < (b_s - tol)) %}

    {% if e_heat or b_heat %}
      {% if e_heat and b_heat %}
        SET_DISPLAY_TEXT MSG="Heating Bed & Nozzle"
      {% elif b_heat %}
        SET_DISPLAY_TEXT MSG="Heating Bed"
      {% else %}
        SET_DISPLAY_TEXT MSG="Heating Nozzle"
      {% endif %}
    {% else %}
      {% set ha = printer.toolhead.homed_axes|string|lower %}
      {% if ('x' in ha) and ('y' in ha) and ('z' in ha) %}
        SET_DISPLAY_TEXT MSG="Ready"
      {% else %}
        SET_DISPLAY_TEXT MSG="Standby"
      {% endif %}
    {% endif %}

  {% endif %}

[delayed_gcode LCD_IDLE_TEXT_LOOP]
initial_duration: 1
gcode:
  SET_LCD_IDLE_TEXT
  UPDATE_DELAYED_GCODE ID=LCD_IDLE_TEXT_LOOP DURATION=2
