[include mainsail.cfg]
[include chroma_head.cfg]
[include driver.cfg]
[include bed_mesh.cfg]
[include cp_macro.cfg]
[include neopixel_leds.cfg]
[include shell_commands.cfg]
[include gcode_override.cfg]
######## OPTIONAL HARDWARE ########
#[include input_shaper.cfg]
#[include ecm_1.cfg]
###################################

[delayed_gcode preheat_pla]
initial_duration: 3
gcode:
  {% set preheat_pla = true %}

  {% if preheat_pla|lower == 'true' %}
    {action_respond_info("Preheat PLA is ENABLED")}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=60
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=190
  {% else %}
    {action_respond_info("Preheat PLA is DISABLED")}
  {% endif %}

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_35FFD80530554D3117810343-if00
restart_method: command

[temperature_sensor BTT_SKR_Mini_E3v2]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 60

[safe_z_home]
home_xy_position: 81.6, 102.6
speed: 60 
z_hop: 5
z_hop_speed: 5

[gcode_arcs]
resolution: 1.0

[stepper_x]
#If stepper_x [position_max] and/or stepper_y [position_max] change then values below will need to be recalculated.
#https://www.th3dstudio.com/klipper-abl-mesh-safe-homing-calculator/?srsltid=AfmBOorimPQRo4V_6BsYfkFQRwvip-eZ7aVUQeECqGSJstkV1Ict5J-d
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: -27
position_min: -27
position_max: 290
homing_speed: 60

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
#If stepper_x [position_max] and/or stepper_y [position_max] change then values below will need to be recalculated.
#https://www.th3dstudio.com/klipper-abl-mesh-safe-homing-calculator/?srsltid=AfmBOorimPQRo4V_6BsYfkFQRwvip-eZ7aVUQeECqGSJstkV1Ict5J-d
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -9
position_min: -9
position_max: 218
homing_speed: 60

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
### PROBE ############
#endstop_pin: probe:z_virtual_endstop
######################
### ENDSTOP SWITCH ###
endstop_pin: ^PC2
#position_endstop: 0
######################
position_min: -5
position_max: 250
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 1.160
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_kp: 74.687
pid_ki: 0.778
pid_kd: 1792.478
min_temp: 0
max_temp: 100

[verify_heater heater_bed] 
max_error: 120
check_gain_time: 80
hysteresis: 5
heating_gain: 2

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_accel: 100
max_z_velocity: 10

[delayed_gcode bed_mesh_init]
initial_duration: .01
gcode:
  BED_MESH_PROFILE LOAD=default

[delayed_gcode restart_chromascreen]
initial_duration: .01
gcode:
  RESTART_CHROMASCREEN

[idle_timeout]
gcode:
      M84
timeout: 300

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

#[output_pin beeper]
#pin: EXP1_1

[neopixel neopixel_strip]
pin: PA8
chain_count: 46
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

# The following section should be disabled when printer is properly configured.
#[force_move]
#enable_force_move: True

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.200
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 73.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 23.0
#*#
#*# [stepper_z]
#*# position_endstop = -3.305
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-3.657500, -3.695000, -3.675000, -3.637500, -3.605000
#*# 	-3.682500, -3.695000, -3.675000, -3.655000, -3.612500
#*# 	-3.625000, -3.662500, -3.665000, -3.662500, -3.635000
#*# 	-3.595000, -3.650000, -3.665000, -3.670000, -3.667500
#*# 	-3.652500, -3.687500, -3.675000, -3.637500, -3.582500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.0
#*# min_x = 63.4
#*# max_x = 285.0
#*# min_y = 6.4
#*# max_y = 213.0
